<div class="w3-container w3">
<ul>
    <li><a class="active" href="#home">Buy</a></li>
    <li><a href="#news">Sell</a></li>
    <li><a href="#contact">Rent</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#about">Contact Us</a></li>
  </ul>
</div>
<hr size="1px">
<div class="grid-container">
    <div class="grid-item"> 
        

        <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [zoom]="2"
        (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
      >
        <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [opacity]="marker.alpha"
          [markerDraggable]="true"
          (markerClick)="selectMarker($event)"
        >
        </agm-marker>
        <agm-rectangle
          [north]="max('lat')"
          [east]="max('lng')"
          [south]="min('lat')"
          [west]="min('lng')"
        >
        </agm-rectangle>
      </agm-map>
      <p *ngIf="selectedMarker">
        Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
      </p>



    </div>
     <div class="grid-item-2">
        <p>   Rental listings
    </p>
    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

     </div>
</div>