<div class="w3-container w3">
<ul>
    <li><a class="active" href="#home">Buy</a></li>
    <li><a href="#news">Sell</a></li>
    <li><a href="#contact">Rent</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#about">Contact Us</a></li>
  </ul>
</div>
<hr size="1px">
<div class="grid-container">
    <div class="grid-item"> 
        

        <label>Enter address</label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      &nbsp;
    <div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
    </div>
    </div>

    
     <div class="grid-item-2">
        <p>   Rental listings
    </p>
    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

    <div class="card">
        
        <h1>House</h1>
        <p >$$</p>
        <p>About House</p>
        
    </div>

     </div>
</div>